.button {
    -fx-background-color: #b2dbe9;
    -fx-font-size: 20px;
    -fx-font-family: Georgia;
    -fx-text-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.button:hover {
    -fx-background-color: #97c3d2;
}

.accept-button {
    -fx-background-color: #9cd89e;
}

.accept-button:hover {
    -fx-background-color: #86cc88;
}

.cancel-button {
    -fx-background-color: #f07358;
}

.cancel-button:hover {
    -fx-background-color: #d96850;
}

.background {
    -fx-background-color: #ecffff;
}

.label {
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
}

.title-label {
    -fx-font-size: 34px;
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
}

.radio-button {
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
}

.delete-employee-button {
    -fx-font-size: 15px;
}

.emergent-window-title {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0;
}

.emergent-window-text {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 10px 0px;
}

.emergent-window-text-2 {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 10px 0px;
    -fx-wrap-text: true;
    -fx-max-width: 380px;
}

.buttons-box {
    -fx-alignment: center;
    -fx-padding: 0px 50px 20px 50px;
}

.password-field {
    -fx-max-width: 250px;
    -fx-alignment: center;
}

.alignment-center {
    -fx-alignment: center;
    -fx-padding: 10px;
}

.text-field, .password-field {
    -fx-pref-width: 200px;
}

.form-fields {
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

.form-buttons {
    -fx-alignment: center;
    -fx-padding: 50px 50px 50px 50px;
}
